<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register here</title>

    <form action="/users/register" method='POST'>
        <input type="text" name='firstname' placeholder="First Name">
        <input:type="text"></input:type>
        <input type="password" name='password' placeholder="password">
        <input type="submit" value='login'>
    </form>
</head>

<body>

</body>

</html>